{% extends "turnstile/base.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
<h1>Assignments</h1>

{% for elt in by_course %}
<h2>{{ elt.course }}</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    {% for assignment in elt.assignments %}
    <tr>
      <td>
	<a href="{% url 'ts-submit-attachments' assignment_id=assignment.id %}">{{ assignment.name }}</a>
      </td>
      <td>{{ assignment.due_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
