{% extends "turnstile/base.html" %}
{% load bootstrap_helpers %}

{% block title %}Grade{% endblock %}

{% block content %}
<h1>{{ submission }}</h1>

<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <th>Student</th>
      <td>{{ submission.student.get_full_name }}</td>
    </tr>
    <tr>
      <th>Assignment</th>
      <td>{{ submission.assignment }}</td>
    </tr>
    <tr>
      <th>Submitted</th>
      <td>{{ submission.created_at }}</td>
    </tr>
    <tr>
      <th>Attachment{{ submission.attachments.count|pluralize }}</th>
      <td>
	{% for attachment in submission.attachments.all %}
	<a class="btn btn-primary btn-xs"
	   href="{{ attachment.uploaded_file.url }}">{{ attachment }}</a> ({{ attachment.uploaded_at }})
	{% empty %}
	<span class="label label-danger">None</span>
	{% endfor %}
      </td>
    </tr>
  </tbody>
</table>

<h2>Feedback</h2>

{% bootstrap_form form "Submit Feedback" %}

{% endblock %}
