{% extends "turnstile/base.html" %}
{% load bootstrap_helpers %}

{% block title %}Submission{% endblock %}

{% block content %}
<h1>Submissions <small>{{ assignment }} Assignment</small></h1>

<h2>Already Submitted</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Submitted At</th>
      <th>File Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{ submission.submitted_at }}</td>
      <td>{{ submission }}</td>
      <td>
	<a class="btn btn-danger btn-xs"
	   href="{% url 'turnstile_submission_delete' submission_id=submission.pk %}">
	  Delete
	</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No submissions</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Submit More</h2>
<p>
  Choose a file to submit.
  You may submit as many files as necessary for the assignment.
</p>

{% bootstrap_multipart_form form "Submit Homework" %}
{% endblock %}
