{% extends "turnstile/base.html" %}

{% block title %}Submission{% endblock %}

{% block content %}
<h1>Submissions for {{ assignment }}</h1>

<h2>Already Submitted</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Submitted At</th>
      <th>File Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td>{{ submission.submitted_at }}</td>
      <td>{{ submission }}</td>
      <td>
	<a class="btn btn-danger btn-xs"
	   href="{% url 'turnstile_submission_delete' submission_id=submission.pk %}">
	  Delete
	</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No submissions</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Submit More</h2>

<form class="form-horizontal" role="form"
      method="post" enctype="multipart/form-data">{% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input class="form-control"
	   id="{{ field.id_for_label }}"
	   name="{{ field.html_name }}"
	   type="{{ field.field.widget.input_type }}" />
  </div>
  {% endfor %}
  <input type="submit" value="Submit Homework" />
</form>
{% endblock %}
